<div style="height: 50px">
  <div id="my-slider"></div>
  <p>Selected: {{ customSegmentValues[0] }} - {{ customSegmentValues[1] }}</p>
</div>

<table style="border: 1px solid">
  <thead>
    <tr>
      <th rowspan="2" (click)="sortTeams('position')">
        Position
        <span *ngIf="sortField === 'position'">
          {{ sortDirection === "asc" ? "▲" : "▼" }}
        </span>
      </th>
      <th rowspan="2" (click)="sortTeams('team')">
        Team
        <span *ngIf="sortField === 'team'">
          {{ sortDirection === "asc" ? "▲" : "▼" }}
        </span>
      </th>
      <th colspan="2">
        Custom ({{ customSegmentValues[0] }}% to {{ customSegmentValues[1] }}%)
      </th>
      @for (progress of milestones; track $index) {
      <th colspan="3">{{ progress }}%</th>
      }
      <th rowspan="2" (click)="sortTeams('completionTime')">
        Completion time
        <span *ngIf="sortField === 'completionTime'">
          {{ sortDirection === "asc" ? "▲" : "▼" }}
        </span>
      </th>
    </tr>
    <th (click)="sortTeams('segmentTime', -999)">
      Segment Time
      <span *ngIf="sortField === 'segmentTime' && sortMilestone === -999">
        {{ sortDirection === "asc" ? "▲" : "▼" }}
      </span>
    </th>
    <th (click)="sortTeams('segmentPosition', -999)">
      Position
      <span *ngIf="sortField === 'segmentPosition' && sortMilestone === -999">
        {{ sortDirection === "asc" ? "▲" : "▼" }}
      </span>
    </th>
    @for (progress of milestones; track $index) {
    <th (click)="sortTeams('segmentTime', progress)">
      ST
      <span *ngIf="sortField === 'segmentTime' && sortMilestone === progress">
        {{ sortDirection === "asc" ? "▲" : "▼" }}
      </span>
    </th>
    <th (click)="sortTeams('milestoneTime', progress)">
      Time
      <span *ngIf="sortField === 'milestoneTime' && sortMilestone === progress">
        {{ sortDirection === "asc" ? "▲" : "▼" }}
      </span>
    </th>
    <th (click)="sortTeams('segmentPosition', progress)">
      POS
      <span
        *ngIf="sortField === 'segmentPosition' && sortMilestone === progress"
      >
        {{ sortDirection === "asc" ? "▲" : "▼" }}
      </span>
    </th>
    }
  </thead>
  @for (team of teams; track team.getTeamName()) {
  <tr>
    <td>{{ team.getFinalPosition() }}</td>
    <td>{{ team.getTeamName() }}</td>
    <th>{{ secondsToHMS(customSegmentTime.get(team.getTeamName()) ?? 0) }}</th>
    <th>{{ customSegmentPosition.get(team.getTeamName()) }}</th>
    @for (progress of milestones; track $index) {
    <th>{{ secondsToHMS(team.getSegment(progress)) }}</th>
    <th>{{ secondsToHMS(team.getProgression(progress)) }}</th>
    <th>{{ team.getPosition(progress) }}</th>
    }
    <td>{{ team.getCompletionTime() }}</td>
  </tr>
  }
</table>
