.score {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);

  font-size: 2rem;
  z-index: 10;
}

.nextQuestion {
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);

  font-size: 2rem;
  z-index: 10;
}
