<div
  class="memory-container"
  [class.result-correct]="isResultCorrect"
  [class.result-incorrect]="isResultIncorrect"
>
  @if(!displayResult){
  <div>{{ currentQuestionType }}</div>
  <div [innerHtml]="currentInstruction"></div>
  } @if(!displayConclusion && !displayResult) {
  <div [innerHtml]="currentPremise"></div>
  } @if(displayConclusion && !displayResult) {
  <div [innerHtml]="currentConclusion"></div>
  <div class="button-row">
    <button (click)="validateAnswer(true)">TRUE</button>
    <button (click)="validateAnswer(true)">FALSE</button>
  </div>
  } @if(displayResult) {
  <div>{{ currentResult ? "Great Success!" : "Shame & Regrets" }}</div>
  }
</div>
